annotated-types
anyio
certifi
charset-normalizer
click
exceptiongroup
fastapi
filelock
fsspec
h11
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pydantic
pydantic_core
PyYAML
regex
requests
safetensors
sniffio
starlette
sympy
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
urllib3
uvicorn